<!-- This template is to style the django all auth sign in page-->


{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <form class="login d-flex flex-column gap-3" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <h2>Log In</h1>
                {{ form | crispy }}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                    <a class="btn btn-light" href="{% url 'home' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}