<!-- This template is to style the django all auth signup form -->
<!-- Found here: https://dev.to/tylerlwsmith/styling-django-allauth-by-overriding-its-templates-3c31 -->
{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <form class="signup d-flex flex-column gap-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <h2>Register</h2>
                {{ form | crispy }}
                
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a class="btn btn-light" href="{% url 'home' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}