<!-- This template is the form for creating and updating pets -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mb-2">{{page_title}}</h2>
            <!-- multipart/form-data makes the cloudinary upload work -->
            <form method="POST" action="" enctype="multipart/form-data" class="d-flex flex-column gap-3">
                {{ form | crispy }}
                {% csrf_token %}
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" href="{% url 'pets' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{%endblock%}