<!-- This template is the form for deleting bookings -->

{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" style="margin-top: 1.3em;">
                {% csrf_token %}
                <h2>Delete Booking</h2>
                <p>Are you sure that you want to delete "{{booking}}"?</p>
                <button type="submit" class="btn btn-danger">Delete</button>
                <a class="btn btn-light" href="{% url 'bookings' %}" role="button">Cancel</a>
            </form>
        </div>
    </div>
</div>

{%endblock%}