{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="{% url 'new_pet' %}" role="button">Register your pet</a>
        <div class="col">
            {% for pet in object_list %}
                <!-- TODO: move to css -->
                <div class="card" style="width: 10rem"> 
                    <!-- TODO: Show a generic image here in the future -->
                    {% if "placeholder" not in pet.picture.url %}
                    <img src="{{pet.picture.url}}" class="card-img-top" alt="Pet profile picture">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{pet.name}}</h5>
                        <a href="{% url 'update_pet' pet.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_pet' pet.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            {% endfor %}
            {% if object_list|length == 0 %}
                <p>You don't have any pets yet.</p>
            {% endif %}
        </div>        
    </div>
</div>

{%endblock%}